## DataFrames
-------
Explore all methods and feautures available for DataFrame based operations

### Background
-----

In [1]:
import sys
import pandas as pd
import numpy as np
from io import StringIO
from pandas.io.json import json_normalize
import json

pd.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3.5.2.final.0
python-bits: 64
OS: Windows
OS-release: 7
machine: AMD64
processor: Intel64 Family 6 Model 37 Stepping 2, GenuineIntel
byteorder: little
LC_ALL: None
LANG: None

pandas: 0.18.1
nose: 1.3.7
pip: 19.0.3
setuptools: 39.1.0
Cython: 0.24.1
numpy: 1.14.2
scipy: 1.0.0
statsmodels: None
xarray: None
IPython: 5.1.0
sphinx: 1.4.6
patsy: 0.4.1
dateutil: 2.5.3
pytz: 2016.6.1
blosc: None
bottleneck: 1.1.0
tables: 3.2.2
numexpr: 2.6.4
matplotlib: 1.5.3
openpyxl: 2.3.2
xlrd: 1.0.0
xlwt: 1.1.2
xlsxwriter: 0.9.3
lxml: 3.6.4
bs4: 4.5.1
html5lib: None
httplib2: None
apiclient: None
sqlalchemy: 1.0.13
pymysql: None
psycopg2: None
jinja2: 2.8
boto: 2.42.0
pandas_datareader: None

### Create a DataFrame
------

- _DataFrame of m rows and n cols_

In [ ]:
pd.DataFrame(np.random.randn(6,4), columns=list('ABCD'))

In [ ]:
pd.DataFrame({ 'A' : 1,
                'B1' : pd.Timestamp('20130102'), 
                'B2' : pd.date_range('20130101', periods=4), 
                'C' : pd.Series(1, index=list(range(4)), dtype='float32'), 
                'D' : np.array([3] * 4,dtype='int32'), 
                'E' : pd.Categorical(["test","train","test","train"]) })

In [ ]:
data = 'col1,col2,col3\na,b,1\na,b,2\nc,d,3'
pd.read_csv(StringIO(data))

In [ ]:
data = 'col1;col2;col3\na;b;1\na;b;2\nc;d;3'
pd.read_csv(StringIO(data), sep=";")

In [ ]:
example = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'last_name': ['Miller', 'Jacobson', ".", 'Milner', 'Cooze'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, ".", "."],
        'postTestScore': ["25,000", "94,000", 57, 62, 70]}
df = pd.DataFrame(example, columns = ['first_name', 'last_name', 'age', 'preTestScore', 'postTestScore'])
df.to_csv('../data/example.csv')
df

In [ ]:
pd.read_csv

In [ ]:
pd.read_csv('../data/example.csv')

In [ ]:
pd.read_csv('../data/example.csv', header=None)

In [ ]:
pd.read_csv('../data/example.csv', names=['UID', 'First Name', 'Last Name', 'Age', 'Pre-Test Score', 'Post-Test Score'])

In [ ]:
 pd.read_csv('../data/example.csv', 
                 index_col=['First Name', 'Last Name'], 
                 names=['UID', 'First Name', 'Last Name', 'Age', 'Pre-Test Score', 'Post-Test Score'])

## ISSUES
### Inner Join [Link](https://github.com/ZNClub-PA-ML-AI/DataFrames/issues/3)

In [2]:
df1 = pd.read_csv('../data/source1.csv')
df2 = pd.read_csv('../data/source2.csv')
df1.shape, df2.shape

((5, 2), (5, 2))

In [3]:
pd.merge(left=df1, right=df2, on='id')

    id      name_x      name_y
0  100      London      London
1  200     Bristol     Bristol
2  300   Edinburgh   Edinburgh
3  400  Manchester  Manchester
4  500  Birmingham  Birmingham

In [6]:
df1.join(other=df2, on=['id'])
# ?df1.join

ValueError: columns overlap but no suffix specified: Index(['id', 'name'], dtype='object')

In [13]:
df1.merge(right=df2, on='id').sort_values(['id','name_x'], ascending=[False, True])
# ?df1.sort_values

    id      name_x      name_y
4  500  Birmingham  Birmingham
3  400  Manchester  Manchester
2  300   Edinburgh   Edinburgh
1  200     Bristol     Bristol
0  100      London      London

### Sort and Set comparison

In [4]:
df1 = pd.read_excel('../data/dsource1.xlsx', sheetname='Sheet1')
df2 = pd.read_excel('../data/dsource2.xlsx', sheetname='Sheet1')
df1.shape, df2.shape

((5, 4), (5, 4))

In [5]:
df1.index, df2.index

(RangeIndex(start=0, stop=5, step=1), RangeIndex(start=0, stop=5, step=1))

In [6]:
df3 = df1.sort_values(by='child')
df4 = df2.sort_values(by='child')
df3.head(), df4.head()

(   child  last  baptised  confirmed
 0   1000     9        18          9
 1   1001     4        24         16
 2   1002     1        14          8
 3   1003     4        65         35
 4   1004    12        21         15,    child  last  baptised  confirmed
 0   1000     9        18          9
 4   1001     4        24         16
 2   1002     1        14          8
 3   1003     4        65         35
 1   1009     6        28         20)

### Summarize set membership of column

In [9]:
set(df3['child']).intersection(set(df4['child']))

{1000, 1001, 1002, 1003}

In [12]:
set(df3['child']).difference(set(df4['child']))

{1004}

In [13]:
set(df4['child']).difference(set(df3['child']))

{1009}